### Your Name Here: Carter
### Your TF Name: Joe
### Graduate or Undergraduate Credit: Graduate

## This is e29 PSET2
##### 20180215_e29_pset2
##### Harvard University DCE CSCI-E29
##### Instructor: Nenad Svrzikapa
##### Staff: Joe Palin, Kaleigh Douglas, Lena Hajjar, Phil Lodine, Alan Xie
### Instructions:

PSET2 is designed to advance your data exploration and manipulation skills with the Pandas library.  Before you get started please review and understand our Academic Integrity policy.  We understand that for some of your work you may have to use external sorces.  Please cite and be a good acedemic citizen. Remember that All homework assignments, quizzes and exams must be your independent work!

Tips from staff:  

1. Don't wait until the last day, our Psets require time and learning
2. Piazza is there for you, we are a team and our goal is not to test you, we want to teach you! Please ask questions!
3. Program a bit every day.  You can't learn these concepts by reading 2 chapters and attempting to solve the problems. Read a little, try the code, change the code,break the code, understand, learn.

##### Note: All Datasets required for this pset are available on Canvas

## Problem 1: 
### Created by: Lena
### Undergraduate 2.5 points Graduate 2 points

# Exploring Pandas at Wal-Mart*

We're going to explore some features of Pandas using at this dataset of Wal-Mart stores that opened since 1962. 

#### *You can't find actual pandas at Wal-Mart.

### Information about the dataset
You can find the data in the file walmart.csv (source: https://github.com/plotly/datasets) The file has over 2000 records of Wal-Marts and Supercenters that have opened in the US since 1962. The dataset has the following columns:
<ul>
<li><b>storenum:</b> The store number</li>
<li><b>OPENDATE:</b> The opening date of the store in MM/DD/YYYY format</li>
<li><b>date_super:</b> The date that the store was converted into a supercenter in MM/DD/YYYY format. There may be empty values if the store was not converted into a supercenter</li>
<li><b>conversion:</b> The number of conversions from Wal-Mart to Supercenter that the store has gone through. </li>
<li><b>STREETADDR:</b> The store's street address</li>
<li><b>STRCITY:</b> The store's city</li>
<li><b>STRSTATE:</b> The store's state</li>
<li><b>ZIPCODE:</b> The store's zipcode</li>
<li><b>type_store:</b> The type of store. Possible values are Wal-mart and SuperCenter</li>
<li><b>LAT:</b> The store's latitude</li>
<li><b>LON:</b> The store's longitude</li>
<li><b>MONTH:</b> The month the store opened</li>
<li><b>DAY:</b> The day the store opened</li>
<li><b>YEAR:</b> The year the store opened</li>
</ul>

### Part 1: Getting the data
You should have downloaded walmart.csv from the assignment. Now we need to load it into a dataframe.

In [1]:
import numpy as np
import pandas as pd
### Part 2: Exploring the dataimport pandas as pd

# load walmart.csv into a dataframe. Hint: use the read_csv function
walmart = pd.read_csv("walmart.csv")

### Part 2: Exploring the data

Let's take a look at what this data looks like. Display the first 10 rows of this dataset using Data slicing.

In [2]:


# display first 10 rows of the walmart dataframe
tenRows = walmart.iloc[0:10, :]
tenRows

,storenum,OPENDATE,date_super,conversion,st,county,STREETADDR,STRCITY,STRSTATE,ZIPCODE,type_store,LAT,LON,MONTH,DAY,YEAR
0,1,7/1/62,3/1/97,1.0,5,7,2110 WEST WALNUT,Rogers,AR,72756,Supercenter,36.342235,-94.07141,7,1,1962
1,2,8/1/64,3/1/96,1.0,5,9,1417 HWY 62/65 N,Harrison,AR,72601,Supercenter,36.236984,-93.09345,8,1,1964
2,4,8/1/65,3/1/02,1.0,5,7,2901 HWY 412 EAST,Siloam Springs,AR,72761,Supercenter,36.179905,-94.50208,8,1,1965
3,8,10/1/67,3/1/93,1.0,5,29,1621 NORTH BUSINESS 9,Morrilton,AR,72110,Supercenter,35.156491,-92.75858,10,1,1967
4,7,10/1/67,NaN,NaN,5,119,3801 CAMP ROBINSON RD.,North Little Rock,AR,72118,Wal-Mart,34.813269,-92.30229,10,1,1967
5,10,7/1/68,3/1/98,1.0,40,21,2020 SOUTH MUSKOGEE,Tahlequah,OK,74464,Supercenter,35.923658,-94.97185,7,1,1968
6,13,11/1/68,3/1/96,1.0,29,97,2705 GRAND AVE,Carthage,MO,64836,Supercenter,37.168985,-94.31164,11,1,1968
7,12,7/1/68,3/1/94,1.0,40,131,1500 LYNN RIGGS BLVD,Claremore,OK,74017,Supercenter,36.327143,-95.61192,7,1,1968
8,11,3/1/68,2/20/02,1.0,5,5,65 WAL-MART DRIVE,Mountain Home,AR,72653,Supercenter,36.329026,-92.35781,3,1,1968
9,9,3/1/68,3/1/00,1.0,29,143,1303 SOUTH MAIN,Sikeston,MO,63801,Supercenter,36.891163,-89.58355,3,1,1968

You can find a lot of information about a pandas dataframe. In the cell below, find the number of rows and columns that are in this dataset. <br><b>HINT:</b> Remember that NumPy is the foundation of Pandas, how would you find the number of rows and columns in a NumPy array?

In [7]:
# put your code here
# https://stackoverflow.com/questions/15943769/how-do-i-get-the-row-count-of-a-pandas-dataframe/38025280

#number of rows
walRow = walmart.shape[0]
print("This dataset has", walRow, "rows.")

#number of columns
walCol = walmart.shape[1]
print("This dataset has", walCol, "columns.")

This dataset has 2992 rows.
This dataset has 16 columns.

You can also display one or more columns of your choice. Display the type_store column.

In [9]:
#your code here 
type_store = walmart["type_store"]
type_store

0       Supercenter
1       Supercenter
2       Supercenter
3       Supercenter
4          Wal-Mart
5       Supercenter
6       Supercenter
7       Supercenter
8       Supercenter
9       Supercenter
10      Supercenter
11      Supercenter
12      Supercenter
13         Wal-Mart
14      Supercenter
15      Supercenter
16      Supercenter
17      Supercenter
18      Supercenter
19         Wal-Mart
20      Supercenter
21      Supercenter
22      Supercenter
23         Wal-Mart
24      Supercenter
25      Supercenter
26      Supercenter
27      Supercenter
28      Supercenter
29      Supercenter
           ...
2962    Supercenter
2963    Supercenter
2964    Supercenter
2965    Supercenter
2966       Wal-Mart
2967    Supercenter
2968    Supercenter
2969       Wal-Mart
2970    Supercenter
2971    Supercenter
2972    Supercenter
2973    Supercenter
2974    Supercenter
2975    Supercenter
2976    Supercenter
2977    Supercenter
2978    Supercenter
2979    Supercenter
2980    Supercenter
2981    Supercenter
2982    Supercenter
2983    Supercenter
2984    Supercenter
2985    Supercenter
2986    Supercenter
2987    Supercenter
2988    Supercenter
2989       Wal-Mart
2990    Supercenter
2991       Wal-Mart
Name: type_store, Length: 2992, dtype: object

You can display rows that have a certain value for a column. In the cell below, create a new dataframe called "onlyWalmarts" that is the subset of the walmart dataframe where type_store equals "Wal-Mart". Print the first 10 rows of this new dataframe. How many stores have the type "Wal-Mart"?<br>
<b>Hint:</b> To find the number of stores, find the number of rows

In [10]:
# your code here

# find stores with type_store "Wal-Mart"
onlyWalmarts = walmart.loc[walmart["type_store"] == "Wal-Mart"]

# display the first 10 rows of onlyWalmart
onlyWalmarts.head(10)

,storenum,OPENDATE,date_super,conversion,st,county,STREETADDR,STRCITY,STRSTATE,ZIPCODE,type_store,LAT,LON,MONTH,DAY,YEAR
4,7,10/1/67,NaN,NaN,5,119,3801 CAMP ROBINSON RD.,North Little Rock,AR,72118,Wal-Mart,34.813269,-92.30229,10,1,1967
13,18,11/1/69,NaN,NaN,5,67,2500 MALCOLM ST/HWY 67 NORTH,Newport,AR,72112,Wal-Mart,35.586065,-91.24695,11,1,1969
19,26,11/1/70,NaN,NaN,20,103,3450 S. 4TH TRAFFICWAY,Leavenworth,KS,66048,Wal-Mart,39.298776,-94.93555,11,1,1970
23,32,6/1/71,NaN,NaN,29,213,2050 WEST HWY 76,Branson,MO,65616,Wal-Mart,36.644170,-93.25668,6,1,1971
35,39,3/1/72,NaN,NaN,20,11,2400 SOUTH MAIN,Fort Scott,KS,66701,Wal-Mart,37.823295,-94.73389,3,1,1972
38,44,2/1/72,NaN,NaN,29,131,1802 SOUTH BUSINESS HWY 54,Eldon,MO,65026,Wal-Mart,38.311355,-92.58395,2,1,1972
42,55,10/1/72,NaN,NaN,5,83,1555 EAST MAIN,Booneville,AR,72927,Wal-Mart,35.105966,-93.97531,10,1,1972
48,57,10/1/72,NaN,NaN,5,75,1600 WEST MAIN,Walnut Ridge,AR,72476,Wal-Mart,36.068015,-90.94429,10,1,1972
52,74,11/1/73,NaN,NaN,5,93,1051 WEST KEISER AVENUE,Osceola,AR,72370,Wal-Mart,35.696385,-90.02631,11,1,1973
53,42,2/1/73,NaN,NaN,20,125,1705 WEST 11TH STREET,Coffeyville,KS,67337,Wal-Mart,37.041838,-95.61814,2,1,1973

In [11]:
# How many stores have the type "Wal-Mart"?

onlyWalRow = onlyWalmarts.shape[0]
print("There are", onlyWalRow, "stores with type 'Wal-Mart'")

There are 1046 stores with type 'Wal-Mart'

### Part 3: Counting Wal-Marts with Pandas

Using the value_counts() function, you can find the number of occurrances of different values in a dataframe. In the cell below, find the number stores with types Wal-Mart and Supercenter. Cast the result into a dataframe called typeCount.
<br>
<b>Hint:</b> Use the pd.DataFrame() to cast the result to a dataframe.

In [14]:
# your code here
# https://stackoverflow.com/questions/35523635/extract-values-in-pandas-value-counts

typeCount = walmart["type_store"].value_counts()
typeCount = pd.DataFrame(typeCount)
typeCount

             type_store
Supercenter        1946
Wal-Mart           1046

Find the sum of the counts above. Is the sum the same as the number of rows that you found earlier?

In [15]:
# Find the Sum. 
summation = typeCount.sum(axis = 0)
summation

type_store    2992
dtype: int64

#### Answer this question:
Is it the answer you got the same as the number of rows of the walmart set? : YES

Now, using the value_counts() function again, find out how many stores were converted 1 or 0 times.

In [16]:
# your code here
conversionCount = walmart["conversion"].value_counts()
conversionCount = pd.DataFrame(conversionCount)
conversionCount

     conversion
1.0        1557
0.0         389

Find the sum of the counts above. Is the sum the same number of rows you found earlier?

In [17]:
# your code here

#find the sum
conversionSum = conversionCount.sum(axis = 0)

print("There are", conversionSum, "rows in the conversionCount dataframe.")

There are conversion    1946
dtype: int64 rows in the conversionCount dataframe.

#### Answer this question:
Is it the answer you got the same as the number of rows of the walmart set? : NO

If you look closely at the walmart data, you'll see that some of rows have NaN values for "conversion." Those rows weren't counted in the conversionCount data above. In the next cell, find the number of stores that don't have any "conversion" data.
<br>
<b>Hint:</b> Use the .isnull( ) function

In [ ]:
# your code here

# find all all the rows with NaN value for conversion
# noConversionData = 
# find the number of stores with a NaN value for conversion
# noConversion = 
# print("There are", noConversion, "stores with no conversion data")

Add the number that you found from the conversion counts and the stores with no conversion data. Does it now equal the total number of rows of the walmart set?

In [ ]:
# find the sum

#### Answer this question:
Is it the answer you got the same as the number of rows of the walmart set? : YES

### Part 4: What does it all mean?
A question I hope that you've been asking yourself (if you haven't already figured it out) is WHY are there stores with NaN values for "conversion." Hasn't each store either been converted 1 or 0 times? What does this mean? For the next part, I using the process that you've been using for the first 3 parts, find out what types of stores have values of 1, 0, and NaN. <i><u>Are they stores that got converted to Supercenters? Are they stores that were built as Supercenters? Are they stores that were just never converted into Supercenters? </i></u>You can explore the data however you'd like, but I'd suggest you make use of the functions that you've been using and that you look at the data. 

<b>Hint:</b> Make 3 different data frames for stores with conversion values of 1, 0, or NaN. You already made the dataframe for the stores with NaN values. I would personally take a look at the OPENDATE, date_super, and type_store fields. If you forget what those fields mean, look at my key at the top of this page.

In [ ]:
# Stores with NaN for conversion
noConversionData[:]

In [ ]:
# you can put more code here

# explore the data however you'd like.

In [ ]:
# your code here 

# make a data frame of stores with 1 as a conversion value
# convertedStores = 

# convertedStores[:]

In [ ]:
# you can put more code here

# explore the data however you'd like.

In [ ]:
# your code here 

# make a data frame of stores with 0 as a conversion value
# notConvertedStores = 

# notConvertedStores[:]

In [ ]:
# you can put more code here

# explore the data however you'd like.

### Answer the following questions:

1. <b>Decribe the stores with 1 as a conversion value:</b> 

2. <b>Describe the stores with 0 as a conversion value:</b> 

3. <b>Describe the stores with NaN as a conversion value:</b>

## Problem 2: 
### Created by: Kaleigh
### Undergraduate 2.5 points Graduate 2 points

---
## Winter Olympic Games
By: Kaleigh  

Source: https://www.kaggle.com/the-guardian/olympic-games/data  

The dataset contains information on winter olympic games from 1924 to 2014.  Note: The dataset uses country codes rather than the complete country names.  If you would like to learn more about the dataset or know which codes correspond to which countries, you can find that information in the "dictionary.csv" file located at the link above.

### 1) Load Dataset  

- Load the "winter.csv" file as a pandas dataframe.  
- Display the **first 5** rows of the dataframe.  
- Display the **last 5** rows of the dataframe.

In [ ]:
# Your Code Here

### 2) Check for Null Values
- If you find null values in the dataset, print 'True'
- Otherwise, print 'False'

In [ ]:
# Your Code Here

### 3) Data Summary  
- Use describe() to display a summary table of your data.  
- Use either the 'include' parameter or 'exclude' parameter so that the table only includes the categorical columns (meaning it does not include the 'Year' column, which pandas interprets as numerical rather than categorical and is not particularly meaningful for our purposes).  I recommend reading the pandas documentation for describe().

In [ ]:
# Your Code Here

### 4) Bar Chart - Number of Medals Per Country
Use the plotly library offline or cufflinks offline to create a bar chart displaying the number of medals per country.  (Country code on the x axis and number of medals on the y axis)

In [ ]:
# Your Code Here

### 5) United States Olympic Medals  
- Create a dataframe containing only USA Olympic Medals
- Display the **first 10** rows of the dataframe.

In [ ]:
# Your Code Here

### 6) In which year did the USA win the most gold medals in the Bobsleigh competition?

In [ ]:
# Your Code Here

## Problem 3: 
### Created by: Phil
### Undergraduate 2.5 points Graduate 2 points

## West Nile Virus Cases
By: Phil  

Source: https://www.healthdata.gov/dataset/west-nile-virus-cases-2006-present-1  

The state of California tracks the incidence of West Nile Virus on a monthly basis, by county. This dataset contains information on the number of cases each month since 2006. You can find more information about this dataset, and the disease, at the link above.

Note that there is more than one way to do the exercises in this problem!

We'll start with the usual boilerplate:

In [ ]:
import numpy as np
import pandas as pd
%matplotlib inline
df = pd.read_csv('wnvhumancases.csv')

### Loading the dataset  

Load the **wnvhumancases.csv** file into a pandas dataframe. How many total rows are there in the dataset?

In [ ]:
# your code here

Display the first 10 rows of the dataset.

In [ ]:
# your code here

### Some simple statistics

How many total positive cases of West Nile have been reported over the life of the dataset?

In [ ]:
# your code here

To within 2 decimal places, how many cases would the average county expect to report in any month?

In [ ]:
# your code here

### West Nile Virus over time

Add a plot that shows the total number of cases per year, with the year on the x-axis.

In [ ]:
# your code here

It is clear from the graph which year had the highest total cases -- and also, that after a steep upward trajectory in the early years of the decade, the present trend appears to be down.

What about the trend during the average year? Add a plot that shows the total number of cases of West Nile over the course of the year, combining the counts for all years of the dataset. (Hint: the values on the x-axis should be weeks, and your graph should be roughly bell-shaped with a peak between 350 and 400.

In [ ]:
# your code here

Note which month appears to be the peak for cases of West Nile -- this most likely agrees with what you recall hearing on typical news reports throughout the year.

## Problem 4: 
### Created by: Joe
### Undergraduate 2.5 points Graduate 2 points

# Apples

A sweet and delicious fruit.  But also, a computer ubiquitous to our class environment?

Today, we'll explore historical apple stock data:

In [ ]:
# the library du jour is pandas
import pandas as pd
import numpy as np

First things first.  We need to read in our dataset.  Read in the dataset "AAPL.csv" and store it to thet variable, df:

In [ ]:
# given the supplied dataset, from yahoo finance, read in the csv file

# Your code here:
df =

Now that we've read in the data, give us a quick view of the first 6 rows of the data frame:

In [ ]:
# Your code here:
df.

Something really important in our analysis, what are the data types.  Are our numbers actually numbers?  Use a pertinent method to list out what type of data we have:

In [ ]:
# Your code here:
df.

This is problematic.  We need our data to be numeric if we're going to do computations on it.  Pandas will try to coerce data to the right type, but maybe we just need to help it out.  The following loop attempts to corce our numeric data to some sort of number:

In [ ]:
for name in df.columns[1:]:
    df[name] = pd.to_numeric(df[name],errors="ignore")

In theory, we've converted everything that is a number into a proper float/number.  Are our datatypes now numbers of some sort?

In [ ]:
# recheck our datatypes

No.  Let's take a look at our first 10 closes:

In [ ]:
# Use the head command to find the first 5 closing prices
df.

To save you a little time, there is at least one instance where the data in the rows is non-numeric.

In [ ]:
# August of 1981.  What was your deal, Apple?

# Use the .loc command to see the 165th entry in the data-frame.
df.loc[165]

Ok, we need to get rid of the 165th data entry.  Use the .drop( ) command to get rid of our bad data:

In [ ]:
df = df.drop(165)

# alternatively, if you want to modify your dataframe in place, 
# you can include that as a parameter.

# df.drop(165, inplace = True)

Now let's check our data frame.  Is the bad data still there?

In [ ]:
df.loc[164:166]

Nope!

Lets recheck our data types:

In [ ]:
df.dtypes

Let's try coercing our data to numbers again:

In [ ]:
for name in df.columns[1:]:
    df[name] = pd.to_numeric(df[name],errors="ignore")

df.dtypes

Fortunately, it looks like the one row we removed was the only bad data point.  We have now successfully coerced our data to numeric form.

How else could we have done this?  It helped that there was only one bad row of data, but what if there had been lots of rows of bad data?  Repeat the for loop above, but change the errors parameter so that it returns a NaN value for invalid inputs, and then use the dropna command with the inplace parameter to drop the bad rows in place:

In [ ]:
# given the supplied dataset, from yahoo finance, read in the csv file
df = pd.read_csv("AAPL.csv")

In [ ]:
# Your code here:

As another alternative, if we had known ahead of time that only row 165 was bad, we could have avoided the above.  Pandas will try to be your friend when you read in data.  You can tell it which rows to skip.  You can warn it there will be headers (or not), you can try to coerce dates to datetime objects.  Lots of useful features to explore.

In [ ]:
# given the supplied dataset, from yahoo finance, read in the csv file
df = pd.read_csv("AAPL.csv",skiprows=[166])

In [ ]:
# We're interested in the closing data and corresponding dates.  Let's
# create a new data frame with just the dates and closing prices
closes = df[["Date","Close"]]

At this point, we have times listed as strings.  We have two options on how to deal with this.  We can segment the strings we're given and turn them into years, months, and days.  Or, we can change the strings into time objects.  This week we'll try the former.

In [ ]:
closes[["Date","Close"]][:10]

In [ ]:
def str_to_ordinal(date_string):
    # we know that our dates are of the form yyyy-mm-dd
    # we'll leverage this to turn these dates in to approximating numbers
    
    data = [int(x) for x in date_string.split("-")]

    ordinal = data[0] + (data[1]-1) / 12 + (data[2]-1) / 31 /12
    
    return ordinal

With our str_to_ordinal function in hand, we need to convert all of the strings to ordinals.  Use the .applymap( ) method to changes your series of Date strings to a series of Date numbers, and use the .loc( ) method to store this series over the existing strings

In [ ]:
# Your code here:
closes.loc[:,"Date"] =

Now if we want to know which dates occured within the last year of a particular date, we can do a subtraction and see what is between 0 and 1.

Create a Pandas series which is the difference between our calculated dates, and the string to ordinal conversion of October 10th of 1993.

In [ ]:
# Your code here
timediff =

Now use the time differences to find every time which was in the year immediately preceding our date.

In [ ]:
# Your code here
mask =

Now we can take our mask and find the dates which were within one year of our given date.  Use the numpy mean command to find the average of the values in the year preceding our date.  Also use numpy to find the 25th and 75th percentile of the data from the previous year.

In [ ]:
# Your code here:

Last thing we'll do this week.  We're going to put together all the things we've bene working on.  Create three new columns for our data frame.  One new column for the mean of the data we have in the previous year, the 25th percentile of the data from the preceding year, and the 75th percentile from the preceding year.

To do this, you'll need to write a for loop which iterates over each date you have, creates a mask to extract the closing values for the dates in the year preceding each iterated date, and takes all the means of preceding year data, and turns that into a new column for your data frame.  You should do this as well for the 1st and 3rd quartiles you also calculated above.

I'd suggest creating the data you want to add to the dataframe, and then merging the data in a separate step.  For more on merging, see section notes/recording.

In [ ]:
%%time

# Your code for taking means and quartiles.

In [ ]:
# Your code for merging your computations with the existing data:

In [ ]:
# what does your final data frame look like?

## Problem 5: 
### Created by: Alan
### Undergraduate 2.5 points Graduate 2 points

## Let's go to the movies!

Throughout the course of this problem, we're going to use the `pandas` library to explore a film dataset. Don't worry — we won't have to scrape any data — but we will be exploring the `pandas.DataFrame` data structure. The dataset provided contains all of the major movies that were released theatrically between 2005 and 2010 in the United States.

**NOTE:** Executing given cells in this problem more than once _may_ break the problem. If you encounter errors (that are not supposed to be there) please restart your kernel and try again. If this doesn't solve the problem, let us know on Piazza!

In [ ]:
import pandas as pd

First, let's make sure that we've imported `pandas`. The convention is to **`import pandas as pd`** so as to have an abbreviation for the library name.

Let's now import our data! It turns out that `pandas` has a really handy method called `read_csv()` which allows us to import any CSV file into a DataFrame. Note that `pandas` automatically assumes that the first row of our CSV is our table headers. However, we have to specify with the `index_col` parameter that the zero-th column is our index — otherwise, it will get read in as an extra column of data and be redundant with the default index created by the DataFrame.

In [ ]:
movies = pd.read_csv('movies.csv', index_col=0)

We use the `pd.DataFrame.head()` method to look at the first five rows of our DataFrame. (Note that we can use the corresponding `tail()` method to look at the last five rows.

In [ ]:
movies.head()

Now, let's take a look at the data itself. We have a movie's title, runtime, MPAA rating, date of theatrical release, director, actors, and plot. Let's take a look at individual columns first and see what types of data we're dealing with. When importing data with `pd.read_csv()`, `pandas` usually assumes certain things about the types of your data.

In [ ]:
print('Each column is of type ', type(movies['title']))
print('The title column is of type ', type(movies['title'][0]))
print('The runtime column is of type ', type(movies['runtime'][0]))
print('The theatrical release date column is of type ', type(movies['theatrical_release'][0]))
print('The director column is of type ', type(movies['director'][0]))
print('The actor column is of type ', type(movies['actor'][0]))
print('The plot column is of type ', type(movies['plot'][0]))

Interesting! It looks like we mostly have columns with strings, except for our runtime column is (as expected) an integer. However, note that `pandas` has no problem importing columns with mixed types if they exist; on top of that, this process is usually slower than importing fixed-type columns. You can force a fixed-type import by specifying the `dtype` parameter to `pd.read_csv()`, which is usually a dictionary of column names and expected data types.

Looking more closely at our column types, we'll see a couple of wrinkles. First, note that the theatrical release column is of type `str` and not `datetime`. Secondly, note that our director and actor columns are a single string despite representing (usually) one or more people. We'll have to deal with these issues later on in searching the data, so let's run a pre-processing step now.

Let's use the `pd.DataFrame.apply()` method, which allows us to efficiently iterate through all of the rows in a column (or the full DataFrame) by applying a function to every row. We can apply a function that we've defined elsewhere, or use a simple one-line `lambda` function. Let's process the theatrical release column as an example, and also use the EXTREMELY useful `pd.to_datetime()` function with `pd.DataFrame.apply()` to cast the entire column to a `pd.Timestamp` type!

In [ ]:
movies['theatrical_release'] = movies['theatrical_release'].apply(lambda date: pd.to_datetime(date))

In [ ]:
print('The theatrical release column is now of type ', type(movies['theatrical_release'][0]))
movies.head()

Now let's think about the director and actor columns. You might be asking — isn't it bad practice to have potentially multiple individuals contained in a single string? The short answer is yes. It turns out that this data originated from a JSON export from a MongoDB (non-relational or NoSQL) database, where the director and actor columns were actually lists of strings. This nested data-type representation doesn't translate well to the relational row-column format of a `pandas` DataFrame, which is why we have the non-ideal situation where multiple individuals are contained in a single string in a single column. We could blow up the director and actor columns into multiple columns, but then we run into a couple of different problems: what happens to films with differently sized casts? Do we only store the X most important cast members? These are data model design questions that I'll leave as an exercise to the reader.

In the meantime, we're going to check our dataset for `nan`. If you tuned in to this weekend's section, you'll recall that we discussed the concept of `nan`, or **Not a Number**. This pesky data type is technically a `float` but usually represents a missing data point. Rather than break the entire `pd.read_csv()` operation, `pandas` just assumed you meant to have a missing value in that cell and populated it by default with `numpy.nan` instead. (Note that the native Python `math` module has an implementation of `nan` as well.)

Why don't we take a look in our DataFrame and see where (if at all) we have `nan` values? We'll use a Boolean mask to do so. Recall this topic from this weekend's section as well. As a refresher, a Boolean mask is an array of True/False values that correspond to the result of some operation — in this case the `pd.DataFrame.isnull()` method — and we can use it as a mask to restrict our DataFrame to a subset of rows that correspond to only the True values in our Boolean mask. 

**IMPORTANT:** In `pandas`, we can construct a Boolean mask on any column using any kind of comparison operator (<, >, ==) and then use the resulting mask as a filter on our original DataFrame to yield a subset of rows that match our restriction. This is a major way of accessing subsets of your data quickly! (Although it is not the only way and perhaps not the fastest depending on what you want to do and what your data looks like.)

In [ ]:
mask = movies.isnull().values
movies[mask]

Let's just drop these two rows from our DataFrame. (A Google search reveals that these were documentaries - hence the lack of cast.) In some cases, we might want to use something like the `pd.DataFrame.fillna()` method to fill all of our `nan` cells with some default value, but in this one we'll just drop the rows from our DataFrame using `pd.DataFrame.dropna()`. If we were to train an eventual model to predict box office gross, we wouldn't want to necessarily keep these movies for potential selection into our training set, as they're relatively niche documentary films that are likely unrepresentative of the dataset.

_DIGRESSION ON SEMANTICS_: Note that I'm referring to these methods as `pd.DataFrame.dropna()`. That's because they're defined as methods on the DataFrame class in `pandas`. These are not public methods that exist in `pandas` by themselves - they can only be called on an instance of the `pd.DataFrame` class, of which our `movies` variable is one. Contrast this to the `pd.read_csv()` method.

Note that after we drop these two rows, our set of NaN values is non-existent.

In [ ]:
movies = movies.dropna()

In [ ]:
movies[movies.isnull().values]

Now, for the coding! This part will be relatively hands-off so you're free to interact with the DataFrame however you wish, so long as you use one of the following methods: Boolean masks, `pd.DataFrame.str.contains`, `pd.DataFrame.query`, `pd.DataFrame.iloc`, `pd.DataFrame.loc`, `pd.DataFrame.ix`, `pd.DataFrame.at`, `pd.DataFrame.iat`. I'll leave it an exercise to the reader to brush up on the documentation for said methods. Don't worry if you prefer to stick to one method - just be aware that your DataFrame manipulation toolkit has a number of different approaches! We will go into the various pros/cons and efficiencies of each method at a later point as we dive deeper into `pandas`.

Please write your code below (making sure that it runs!) and also write your answers in a Markdown cell. May the odds be ever in your favour!

In [ ]:
movies

**1) How many movies did David Fincher direct?**

In [ ]:
# Your code here

**2) How many movies are rated R?**

In [ ]:
# Your code here

**3) Which movies did Robert Downey Jr. act in?**

In [ ]:
# Your code here

**4) What is the plot of the movie _Blades of Glory_ (2007)?**  
Hint: it's located in row 633.

In [ ]:
# Your code here

**5) What is the latest release date in this dataset? For which movie(s)?**  
Hint 1: You can use `pd.to_datetime('YYYY-MM-DD')` to generate a Timestamp for any date.  
Hint 2: Your answer (or part of it) will correspond to the holiday that the last CSCI E-29 lecture took place on.

In [ ]:
# Your code here

**6) What is the range of runtimes in our dataset? For which films do they correspond to?**

In [ ]:
# Your code here

**7) Optional challenge: Who was the most prolific director(s)? The most prolific actor(s)?**  

Hint: How efficiently can you solve this problem? Because our director and actor columns are merged strings of individuals, you'll need to use something like `pd.DataFrame.apply` to create new columns that separate the names. You may also want to rely on the `Counter` datatype or something like `itertools.chain.from_iterable` in your code. Each question is doable in one line of code.  

Note: If you can't solve this problem, feel free to skip it! No points will be deducted. You might have to do something like this in the real world at some point though...

In [ ]:
# Your code here